body {
  font-family: 'Josefin Sans', sans-serif;
  background-color: rgba(0, 0, 0, .15);
  max-width: 100vw;
  overflow: hidden;
}

a{
  text-decoration: none;
}

.layout {
  padding-bottom: 150px;
}

.layout::-webkit-scrollbar {
  -webkit-appearance: none;
}

.layout::-webkit-scrollbar:vertical {
  width: 5px;
}

.layout::-webkit-scrollbar-button:increment,
.contenedor::-webkit-scrollbar-button {
  display: none;
}

.layout::-webkit-scrollbar:horizontal {
  height: 5px;
}

.layout::-webkit-scrollbar-thumb {
  background-color: #797979;
  border-radius: 20px;
  border: none;
}

.layout::-webkit-scrollbar-track {
  border-radius: 10px;
}

.logout-btn {
  cursor: pointer;
}

.logout-btn:hover {
  color:rgba(255, 193, 7, .6);
}


.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.active>.page-link,
.page-link.active {
  z-index: 3;
  color: white;
  background-color: black;
  border-color: black;
}

.page-link {
  color: black;
}



.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

body {
  font-size: .875rem;
}

.feather {
  width: 16px;
  height: 16px;
}

.custom-selected {
  box-sizing: border-box;
  background: rgba(0, 0, 0, .1);
  border: 2px solid rgba(0, 0, 0, .2);
  border-radius: 5px;
}


.border-blue {
  box-sizing: content-box;
  border: 3px solid lightblue;
}

.border-transparent {
  box-sizing: content-box;
  border: 3px solid transparent;
}

.shadow-right {
  box-shadow: 16px -6px 24px -24px rgb(0 0 0 / 50%);
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

form{
  background-color: rgba(33,37,41);
  color: white;
  box-shadow: 0px 0px 15px -2px  rgba(255, 193, 7, .6);
}

.form-control {
  height: 32px;
  font-size: 0.875rem;
}

.form-control:focus {
  box-shadow: none;
  border: 1px solid rgba(33,37,41, .6);
}

.user-select-none {
  user-select: none;
}

.btn-white {
  background-color: transparent;
  border: 1px solid white;
  color: white;
}

.btn-white:hover {
  background-color: white;
  color: black;
}

.btn-outline-yellow {
  border: 1px solid  rgba(255, 193, 7, .6);
  color: rgba(255, 193, 7, .6);
  background-color: rgb(33,37,41);
}

.btn-outline-yellow:hover {
  background-color: rgba(255, 193, 7, .6);
  color: white;
  border: 1px solid  rgba(255, 193, 7, .6);
}
.modal {
  box-sizing: content-box;
}

.btn {
  font-size: 13px;
  padding: 0 0.5rem;
  font-weight: bolder;
  height: 30px;
  align-content: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.custom-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
}

.top-left-radius {
  border-top-left-radius: 1.25rem;
}

.top-right-radius {
  border-top-right-radius: 1.25rem;
}

main {
  min-height: calc(100vh - 70px);
  align-content: center;
  overflow-x: hidden;
}

.w-80 {
  min-width: 80vw !important;
}

.w-90 {
  min-width: 100vw !important;
}

.hover:hover {
  scale: 1.1;
}

.modal::-webkit-scrollbar {
  -webkit-appearance: none;
}

.modal::-webkit-scrollbar:vertical {
  width: 5px;
}

.modal::-webkit-scrollbar-button:increment,
.contenedor::-webkit-scrollbar-button {
  display: none;
}

.modal::-webkit-scrollbar:horizontal {
  height: 5px;
}

.modal::-webkit-scrollbar-thumb {
  background-color: #797979;
  border-radius: 20px;
  border: none;
}

.scroll::-webkit-scrollbar {
  -webkit-appearance: none;
}

.scroll::-webkit-scrollbar:vertical {
  width: 5px;
}

.scroll::-webkit-scrollbar-button:increment,
.contenedor::-webkit-scrollbar-button {
  display: none;
}

.scroll::-webkit-scrollbar:horizontal {
  height: 2px;
}

.scroll::-webkit-scrollbar-thumb {
  background-color: #797979;
  border-radius: 20px;
  border: none;
}

.btn-yellow {
  background-color: rgba(33,37,41, 1);
  color: white;
  border: 3px solid rgba(33,37,41, 1);
}
.btn-yellow:hover {
  background-color: rgba(33,37,41, 1);
  color: rgba(255, 193, 7, 1);
  border: 3px solid rgba(255, 193, 7, 1);
}

.break-text{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.modal::-webkit-scrollbar-track {
  border-radius: 10px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.react-datalist-input__label {
  display: none;
}

.react-datalist-input__textbox {
  height: 32px;
}

label {
  user-select: none;
}

.datalist_clean {
  padding: 0.5rem;
  position: absolute;
  opacity: 0.5;
  right: 0;
  height: 100%;
  display: flex;
  align-items: center;
  font-weight: bolder;
  cursor: pointer;
}

.table_room {
  transition: all ease 200ms;
  opacity: 0.9;
  background-image: url('../assets/icons/table.png');
  display: flex;
  height: 75px;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0;
  background-position: center;
}

.table_container {
  cursor: pointer;
  position: absolute;
  top: 40vh;
  left: 40vw;
  width: 130px;
  height: 130px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  border-radius: 100px;
}

.table_container:hover {
  .table {
    opacity: 1;
  }

  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
}

.table_waiting-menu {
  background: linear-gradient(0deg, rgba(77, 160, 189, 0.2) 0%, rgba(255, 193, 7, 0) 100%);
}



.table_waiting-food {
  background: linear-gradient(0deg, rgba(50, 200, 50, 0.2) 0%, rgba(255, 193, 7, 0) 100%);
}

.table_waiting-danger {
  background: linear-gradient(0deg, rgba(228, 41, 11, 0.2) 0%, rgba(255, 193, 7, 0) 100%);
}

.waitingMenu_time-progress {
  border: 2px solid rgba(77, 160, 190, 0.8);
}

.danger_time-progress {
  border: 2px solid rgba(228, 41, 11, 0.9);
}

.not-blur {
  filter: blur(0px) !important;
}

.cross-out {
  text-decoration: line-through;
}

.waitingFood_time-progress {
  border: 2px solid rgba(50, 200, 50, 0.8);
}

.table_background {
  background: rgba(255, 255, 255, 1);
  position: absolute;
  bottom: 0%;
  left: 0%;
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 80px;
  z-index: -2;
}

.table_background-color {
  background-color: rgba(0, 0, 0, .15);
  position: absolute;
  bottom: 0%;
  left: 0%;
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 80px;
  z-index: 0;
}

.progress_bar-table {
  position: absolute;
  bottom: 0%;
  left: 0%;
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 80px;
  z-index: -4;
  filter: blur(3px);
}

.pointer {
  cursor: pointer;
  user-select: none;
}

.nav-tabs .nav-link {
  color: black;
  background: rgba(0,0,0,.05);
}

.nav-tabs .nav-link.active {
  background: rgba(21, 25, 29, .5);
  color: white;
}
