.bill-maker {
  height: 100vh;
  padding: 115px 0 90px 0; ;
  overflow-y: scroll;
}

.bill-maker::-webkit-scrollbar {
  -webkit-appearance: none;
}

.bill-maker::-webkit-scrollbar:vertical {
  width: 5px;
}

.bill-maker::-webkit-scrollbar-button:increment,
.contenedor::-webkit-scrollbar-button {
  display: none;
}

.bill-maker::-webkit-scrollbar:horizontal {
  height: 5px;
}

.bill-maker::-webkit-scrollbar-thumb {
  background-color: #797979;
  border-radius: 20px;
  border: none;
}

.bill-maker::-webkit-scrollbar-track {
  border-radius: 10px;
}

.modifier-group_item{
  transition: all 0.3s ease;
  height: 50px;
  background: white; 
  color: black;
  font-size: 1rem;
}

.product_item{
  transition: all 0.3s ease;
  width: 15vw;
  background: linear-gradient(180deg, rgba(33,37,41,1) 0%, rgba(33,37,41,0.8) 100%);  color: white;
  font-size: 1rem !important;
}

.element_item{
  transition: all 0.3s ease;
  background: linear-gradient(180deg, rgba(33,37,41,1) 0%, rgba(33,37,41,0.8) 100%);  color: white;
  border-radius: 5px;
  font-size: 1rem !important;
}

.element_quantity {
  // background: rgba(255,193,7,.8);
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    color: white;
    font-size: 25px;
}

.bill-item {
  transition: all 0.3s ease;
  text-shadow: 0px 4px 4px rgba(0,0,0,1);
  height: 100px;
  border: 0px solid rgba(255,193,7,1);
  background: linear-gradient(180deg, rgba(33,37,41,1) 0%, rgba(33,37,41,0.8) 100%);  color: white;
}

.bill-item:hover {
  border: 3px solid rgba(255,193,7,1);
  box-shadow: rgba(0,0,0,.5) 0px 0px 5px 2px;
}

.combinable_item {
  transition: all 0.3s ease;
  background: rgba(33,37,41,1); 
  color: white;
  font-size: 1rem;
  box-sizing: border-box;
}